h1, h2, h3, h4, h5, h6, a, button, input, label {
    font-family: 'Prompt', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
} 

body {
    font-family: 'Sarabun', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

h1 {
    font-size: 36px;
    margin-bottom: 16px;
}

h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

h4 {
    font-size: 20px;
    margin-bottom: 8px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h5, h6 {
    margin-bottom: 4px;
}

a {
    text-decoration: none;
    color: #03A9F4;
    filter: brightness(95%);
}

a:hover {
    filter: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 18px;
    border-radius: 20px;
    height: 32px;
    font-size: 18px;
    color: white;
    background: #03A9F4;
    filter: brightness(98%);
    outline: 0;
    border: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

button:hover {
    filter: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input {
    background: white;
    outline: 0;
    border: 0;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 0 16px;
}

input::placeholder {
    color: #ECEFF1;
}

input:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input:focus {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

input[type='checkbox'] {
    width: 14px;
    height: 14px;
}

input[type='radio'] {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #03A9F4;
    margin: 0;
    margin-bottom: 16px;
}

select {
    background: white;
    outline: 0;
    border: 0;
    height: 32px;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

select:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

select:focus {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
